.login-container{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
}
.login-page{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #f9f9f9;
}
.login-page input{
    padding: 10px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #E5e3e3;
    width: 90%;
}
.login-page button{
    border: none;
    background-color: #23A6F0;
    color: #fff;
    font-weight: bold;
    width: 30%;
    padding: 15px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.login-page svg{
    position: absolute;
    top: 5px;
    right: 45px;
}