ul {
    margin: 0;
    padding: 20px;
    list-style: none;
}
footer{
    background-color: #fafafa;
    padding: 0px 25px;
}
.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: auto;
}
.social-media-container{
    display: flex;
    gap: 10px;
}
.footer-links{
    display: flex;
    max-width: 1024px;
    margin: auto;
    justify-content: space-around;   
}
h3{
   font-size: 16px;
   line-height: 24px; 
}
li{
    font-size: 14px;
    padding: 5px 0;
}
.get-in-touch{
    background-color: #f9f9f9;
    border-radius: 8px;
    height: 40px;
    display: flex;
    padding: 5px;
}
.get-in-touch-input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    flex: 1;
    background-color: transparent;
    border: none;
}
.get-in-touch-btn{
    background-color: #23A6F0;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    border: none;
    color: #fff;

}
.credit{
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 625px) {
    .footer-links{
        flex-direction: column;
    }
}