a,:active,:any-link{
    color: inherit;
    text-decoration: none;
}
nav{
    display: flex;
    padding: 0 10px;
    align-items: baseline;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #f9f9f9;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #737373;
    text-transform: capitalize;
}
nav ul li:hover{
    color: #2d2d2d;
}
.logo{
    flex: 1/2;
}
.login{
    position: relative;
}
.login li{
    color: #23A6F0;
    display: flex;
    align-items: center;
    gap: 5px;
}
.login ul li:hover{
    color: #23A6F0;
}
.links {
    flex: 1;
    position: relative;
}
.mobile-menu{
    position: relative;
    display: none;
}
.mobile-menu ul {
    flex-direction: column;
    width: 100%;
}
.mobile-menu li {
    padding: 10px 0;
    border-bottom: 1px solid #e5e3e3;
    text-align: center;
    text-transform: capitalize;
}
.show{
    display: flex;
}
@media only screen and (max-width: 625px) {
    .links,.login{
        display: none;
    }
    .logo {
        flex: 1;
    }
    nav {
        padding: 0 10px;
        align-items: center;
    }
}
@media only screen and (min-width: 624px) {
    .mobile-menu{
        display: none;
    }
    .mobile-toggle{
        display: none;
    }
}
